# Use whitelist to avoid dealing with accidental garbage from different IDEs
# Ignore everything
*
# but not project subdirs
!*/
# and files such as
!.gitignore
!.gitattributes
!LICENSE
!README.md
!CMakeLists.txt
!*.c
!*.h
!*.sh
!*.f90
!*.m
!*.cmake

